.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore example output
example_out*

# ignore *.pyc fiels
*.pyc

# ignore __pycache__ folders
__pycache__

# ignore package temp folders
*.egg-info

*.Rproj

.idea/
.vscode/
dist
build
conda_env

*~